/* .favoriteMarked {
  background-color: goldenrod;
} */

.grid_img {
  max-width: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

.grid-container > article {
  /* background-color: navy;
  color: wheat; */
  padding: 1em;
}

@media (min-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* from https://www.w3schools.com/css/css_form.asp */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input {
  width: 100%;
}
