.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

.grid-container > article {
  /* background-color: navy;
  color: wheat; */
  padding: 1em;
}

@media (min-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
